.header{
    width: 80%;
    margin: auto 0 auto auto;
    background-color: #F6F6F6;
    align-items:  start;
    justify-content: start;
    flex-direction: row;
    height: 90vh;
}

.header__social, .header button{
    position: absolute;
}

.header button{
    top: 60%;
    left: 45%;

}
.header__social{
    top: 60%;
    left: 50px;
    width: 25%;
}
nav{
    display: flex;
    background-color: chocolate;
    padding: 10px;
}
.header__nav-links{
    margin: 0 auto;
}

.header__profile{
    width: 50%;
    position: static;
}
#hello{
    color: #999999;
    top: 80px;
    left: 50px;
    text-shadow: none;
}

.project{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    height: 70vh;
}

.project a{
    grid-column: 2;

}
.project p{
    grid-column: 2;
}

.project ul{
    list-style: inside;
}

.project__img{
    height: 400px;
    width: 400px;
}

.about{
   width: 70%;
   position: relative;
}


.about img {
    height: 280px;
    width: 100%;
}


.infocard{
    position: absolute;
    top: 100px;
    right: 30px;
}

.about img, .infocard{
    order: 2;
    margin-bottom: 3rem;
}

.about p:nth-of-type(1){
    order: 0;
}
.about p:nth-of-type(2){
    order: 3;
}

.about h3{
    order: 3;
}
