* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html{
    --bg : #F6F6F6;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
h2, h3{
    color: #999999;
    margin: 20px 0;
    font-weight: bold;
    
}

h2{
    font-size: 60px;
    text-decoration: underline;
}

h3{
    
    font-size: 40px;
    letter-spacing: -0.25px;
}
h4{
    margin: 10px 0;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 6px;
    color: #7E7C7C;
    opacity: 0.6;
}

ul{
    list-style: none;
    margin: 16px;
}

a{
    text-decoration: none;
    color: black;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header nav{
    background-color: var(--bg);
    width: 100%;
    margin: auto;
}

.header__nav-links{
    flex-direction: row;
}
.header__nav-links a {
  display: flex;
  margin-right: 50px;
}
.header__profile  {
position: relative;
}

.header__profile img{
    width: 100%;
    height: auto;
    filter: blur(0.7px);
  -webkit-filter: blur(0.7px);
  
}

#hello{

    color: white;
    font-size: 72px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10%;
    right: 10%;
    bottom: 23%;
    text-shadow: 1px 3px 2px darkblue;
}

.button{
    color: rgba(0, 0, 0, 0.65);
    background-color: #FFE8E8;
    border: none;
    height: 75px;
    width: 265px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 8px;
    position: relative;
    top: -60px;
    cursor: pointer;
}

.header__social{
    width: 50%;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 6px;
    justify-content: space-between;
    flex-direction: row;
}

.projects{
    width: 90%;
    margin: 80px auto auto;
    /* margin: auto;
    margin-top: 80px;*/
}

.project__img{
    background-image: url('/assets/celina.jpeg');
    background-size: cover;
    height: 300px;
    width: 300px;
    background-color: #D8D8D8;
    margin-bottom: 30px;
}

.about{
    width: 90%;
    margin:auto;
}
.about h3{
    font-family: 'Dancing Script', cursive;    
}
.about img{
    height: 80px;
    width: 360px;
    object-fit: cover;
}

.infocard{
    background-color: #FFE8E8;
    padding: 20px;
    margin: 30px 0;
}

footer{
    /* font-family: 'VT323', monospace; */
    background-color: #D8D8D8;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;


}