* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html{
    --bg : #F6F6F6;
}
body{
    font-family: 'Poppins', sans-serif;
    
}

ul{
    list-style: none;
    margin: 16px;
}

a{
    text-decoration: none;
    color: black;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header nav{
    background-color: var(--bg);
    width: 100%;
    margin: auto;
}

.header__nav-links{
    flex-direction: row;
}
.header__nav-links a {
  display: flex;
  margin-right: 50px;
}
.header__profile  {
position: relative;
}

.header__profile img{
    width: 100%;
    height: auto;
    filter: blur(0.7px);
  -webkit-filter: blur(0.7px);
  
}

#hello{

    color: white;
    font-size: 72px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10%;
    right: 10%;
    bottom: 23%;
    text-shadow: 1px 3px 2px darkblue;
}

.button{
    color: rgba(0, 0, 0, 0.65);
    background-color: #FFE8E8;
    border: none;
    height: 75px;
    width: 265px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 8px;
    position: relative;
    top: -60px;
}

.header__social{
    width: 50%;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 6px;
    justify-content: space-between;
    flex-direction: row;
}
